body {
  font-family: var(--font-primary);
  font-size: 18px;
  font-weight: 400;
  color: var(--black);
  background-color: var(--light);
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: var(--black);
  font-size: 16;
  font-weight: 700;
  text-decoration: none;
}

input,
textarea {
  font-size: 16;
}

main {
  min-height: 100vh;
}
