:root {
  --max-page-width: 1280px;

  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'IBM Plex Sans Condensed', sans-serif;

  --black: #191919;
  --white: #fff;
  --light: #f3f3f3;
  --lighter: #fafafa;
  --green: #299d91;
  --red: #e73d1c;
  --grey: #666;
}
